$light-color: #F4F4F4;
$primary-color: #2469A6;
$secondary-color: #F2854E;
// third color? #A78B85;
$font-stack: 'Lato', sans-serif;

@import 'buttons';

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body {
    background-color: $light-color;
    font-family: $font-stack;
    font-weight: normal;
    line-height: 1.5;
    box-sizing: border-box;
 
    ol, ul {
        list-style: none;
      }
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
    img {
        max-width: 100%;
    }
}
// fonts
h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
}
section {
    font-size: 1.1em;
}
// nav 

.header-main {
    background-color: $primary-color;
    color: $light-color;
    max-width: 100%;
    text-transform: uppercase;


    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 960px;
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .header-nav .header-nav-items {
        margin: 1em 0 .5em;
        text-align: center;
    
        li {
            display: inline;
        
            a {
                display: inline-block;
                padding: .5em;
                color: $light-color;
                }
                a:hover {
                    color: $secondary-color;
                }
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // background-color: $primary-color;
}
section {
    padding: 2em;
    margin: 20px 15px 15px 15px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    border: 1px solid $secondary-color;
}
.about {
    border: $primary-color solid 1px;
    padding: 3em 0 0;

    img {
        display: none;
    }
    p {
        margin: 2em 0 0;
    }
    .email {
        display: flex;
        justify-content: center;        
        margin: 2em 0 0;
    }
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;   
}

.portfolio-grid .portfolio-example:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1;
}
.portfolio-grid .portfolio-example:nth-child(2) {
    grid-column: 1/6;
    grid-row: 2;
}
.portfolio-grid .portfolio-example:nth-child(3) {
    grid-column: 7/13;
    grid-row: 2;
}

// maybe i only want to display nav from ipad size and up



// small tablet styles
// @media screen and (min-width: 620px) {
    
// }
// large tablet & laptop styles
// @media screen {and (min-width: 690x) 
    
//     body {
//         font-size: 18px; 
//     }


// desktop styles
// @media screen and (min-width:1200x) {
    
//     body {
        // font-size: 20px; (see net ninja responsive build)